<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- DataSource Configuration -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:./data/jeux;DB_CLOSE_DELAY=-1"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- H2 Web Server Configuration -->
    <bean id="h2WebServer" class="org.h2.tools.Server" factory-method="createWebServer" init-method="start" destroy-method="stop">
        <constructor-arg value="-web,-webAllowOthers,-webPort,8082"/>
    </bean>

    <!-- EntityManagerFactory Configuration -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="spring.models"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">felse</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction Management -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven/>

    <!-- Entity beans -->
    <bean id="joueur" class="spring.models.Joueur" scope="prototype"/>
    <bean id="equipe" class="spring.models.Equipe" scope="prototype"/>
    <bean id="jeu" class="spring.models.Jeu" scope="prototype"/>
    <bean id="tournoi" class="spring.models.Tournoi" scope="prototype"/>

    <!-- Repository beans -->
    <bean id="joueurImp" class="spring.interfaces.impl.JoueurImp"/>
    <bean id="equipeImp" class="spring.interfaces.impl.EquipeImp"/>
    <bean id="jeuImp" class="spring.interfaces.impl.JeuImp"/>

    <!-- TournoiMetierImpl bean -->
    <bean id="tournoiMetier" class="spring.interfaces.impl.TournoiMetierImpl">
      <property name="tournoiDaoExtension" ref="tournoiDaoExtension"/>
        <property name="tournoiDaoImpl" ref="tournoiDaoImpl"></property>
    </bean>

    <!-- TournoiDaoExtension bean -->
    <bean id="tournoiDaoExtension" class="spring.interfaces.impl.TournoiDaoExtension">
        <constructor-arg ref="tournoiMetier"/>
    </bean>

    <!-- TournoiDaoImpl bean -->
    <bean id="tournoiDaoImpl" class="spring.interfaces.impl.TournoiDaoImpl">
        <constructor-arg ref="tournoiMetier"/>
    </bean>

    <!-- Service beans -->
    <bean id="equipeServices" class="spring.services.EquipeServices"/>
    <bean id="jeuServices" class="spring.services.JeuServices"/>
    <bean id="joueurServices" class="spring.services.JoueurServices"/>
    <bean id="tournoiServices" class="spring.services.TournoiServices">
        <constructor-arg ref="tournoiMetier"/>
    </bean>

    <!-- View beans -->
    <bean id="equipeview" class="spring.view.Equipeview">
        <constructor-arg ref="equipeServices"/>
        <constructor-arg ref="equipe"></constructor-arg>
    </bean>
    <bean id="joueurview" class="spring.view.Joueurview">
        <constructor-arg ref="joueurServices"/>
        <constructor-arg ref="equipeServices"/>
        <constructor-arg ref="joueur"></constructor-arg>
    </bean>
    <bean id="jeuview" class="spring.view.Jeuview">
        <constructor-arg ref="jeuServices"/>
        <constructor-arg ref="jeu"></constructor-arg>
    </bean>
    <bean id="tournoiview" class="spring.view.Tournoiview">
        <constructor-arg ref="tournoiServices"/>
        <constructor-arg ref="equipeServices"/>
        <constructor-arg ref="jeuServices"/>
        <constructor-arg ref="tournoi"></constructor-arg>
        <constructor-arg ref="jeu"></constructor-arg>
        <constructor-arg ref="equipe"></constructor-arg>

    </bean>

    <!-- ConsoleUi bean -->
    <bean id="ConsoleUi" class="spring.view.ConsoleUi">
        <constructor-arg ref="equipeview"/>
        <constructor-arg ref="jeuview"/>
        <constructor-arg ref="joueurview"/>
        <constructor-arg ref="tournoiview"/>
    </bean>

</beans>
